<section id="hero" class="section-container px-4 py-10 flex flex-col justify-evenly text-center md:flex-row gap-4 md:justify-around md:items-center">
  <div class="my-10 md:my-0 md:w-[60%]">
    <h1 class="text-6xl lg:text-7xl font-semibold mb-8 md:mb-4 lg:mb-8">
      <%= t(".heading") %>
    </h1>
    <p class="text-2xl md:text-3xl">
      <%= t(".subheading") %>
    </p>
  </div>
  <div class="md:w-[40%]">
    <%= render_svg("developer-activity-animate", class: "w-2/3 md:w-full mx-auto") %>
  </div>
</section>

<section id="recent-posts" class="bg-offWhite section-container px-4 py-10">
  <div class="flex items-center justify-between mb-4">
    <h2 class="font-semibold text-[18px]">Recent Posts</h2>
    <h2 class="text-sm text-lightBlue hover:text-lightRed">
      <a href="#">View All</a>
    </h2>
  </div>

  <div class="flex flex-col gap-4 md:flex-row">
    <a href="#" class="bg-white p-6 rounded md:w-[50%] hover:shadow-lg hover:transition-all hover:-translate-y-1">
      <h2 class="mb-3 font-semibold text-[26px]">Escape Tutorial Hell Tips</h2>

      <p class="mb-4 text-[18px]">
        <span class="mr-4">2021-05-31</span> |
        <span class="ml-4 text-slate-500">Guide</span>
      </p>

      <p class="mb-4">I've been into tutorial hell, and it's not good. Here are some ways to escape from it.</p>
    </a>

    <a href="#" class="bg-white p-6 rounded md:w-[50%] hover:shadow-lg hover:transition-all hover:-translate-y-1">
      <h2 class="mb-3 font-semibold text-[26px]">Website Layout Without Design Skills, A Summary</h2>

      <p class="mb-4 text-[18px]">
        <span class="mr-4">2021-05-30</span> |
        <span class="ml-4 text-slate-500">Design</span>
      </p>

      <p class="mb-4">A guide on how to layout a website design even without design skils.</p>
    </a>
  </div>
</section>
